.ColorButtons {
  width: min(100%, 40em);
  margin: 0 auto;
}

.ColorButtons-button {
  width: 4rem;
  aspect-ratio: 1/1;
}

.ColorButtons-button[value="0"] { background-color: var(--color-red); }
.ColorButtons-button[value="1"] { background-color: var(--color-orange); }
.ColorButtons-button[value="2"] { background-color: var(--color-yellow); }
.ColorButtons-button[value="3"] { background-color: var(--color-green); }
.ColorButtons-button[value="4"] { background-color: var(--color-blue); }
.ColorButtons-button[value="5"] { background-color: var(--color-purple); }

.ColorButtons-button svg {
  width: 100%;
  height: 100%;
}
