.ColorButton {
  width: 4rem;
  aspect-ratio: 1/1;
  min-width: auto !important;
}

.ColorButton[value="0"] { background-color: var(--color-red) !important; }
.ColorButton[value="1"] { background-color: var(--color-orange) !important; }
.ColorButton[value="2"] { background-color: var(--color-yellow) !important; }
.ColorButton[value="3"] { background-color: var(--color-green) !important; }
.ColorButton[value="4"] { background-color: var(--color-blue) !important; }
.ColorButton[value="5"] { background-color: var(--color-purple) !important; }

.ColorButton[disabled] {
  opacity: 0.25 !important;
  cursor: initial;
}
