.ColorButtons {
  width: min(100%, 40em);
  margin: 0 auto;
}

.ColorButtons-button {
  width: 4rem;
  aspect-ratio: 1/1;
}

.ColorButtons-button[value="0"] { background-color: hsl(0, 100%, 60%); }
.ColorButtons-button[value="1"] { background-color: hsl(60, 100%, 60%); }
.ColorButtons-button[value="2"] { background-color: hsl(120, 100%, 60%); }
.ColorButtons-button[value="3"] { background-color: hsl(180, 100%, 60%); }
.ColorButtons-button[value="4"] { background-color: hsl(240, 100%, 60%); }
.ColorButtons-button[value="5"] { background-color: hsl(300, 100%, 60%); }
