.ColorButton {
  width: 4rem;
  aspect-ratio: 1/1;
}

.ColorButton[value="0"] { background-color: var(--color-red); }
.ColorButton[value="1"] { background-color: var(--color-orange); }
.ColorButton[value="2"] { background-color: var(--color-yellow); }
.ColorButton[value="3"] { background-color: var(--color-green); }
.ColorButton[value="4"] { background-color: var(--color-blue); }
.ColorButton[value="5"] { background-color: var(--color-purple); }

.ColorButton svg {
  width: 100%;
  height: 100%;
}
