.GameSVGAnimated {
  width: 100%;
  height: 100%;
}

.GameSVGAnimated .Grid {
  width: min(100%, 40em);
  height: auto;
  margin: auto;
}

.GameSVGAnimated rect {
  transform-origin: center;
}
