html {
  transition: background-color 500ms;
  background-color: color-mix(in srgb, var(--color-current) 20%, transparent);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  touch-action: manipulation;
}

:root {
  --color-red: hsl(0, 100%, 60%);
  --color-orange: hsl(60, 100%, 60%);
  --color-yellow: hsl(120, 100%, 60%);
  --color-green: hsl(180, 100%, 60%);
  --color-blue: hsl(240, 100%, 60%);
  --color-purple: hsl(300, 100%, 60%);

  --color-current: var(--color-red);
  --shadow-color: #0004;
  --shadow-color: color-mix(in srgb, var(--color-current) 60%, black 20%);
  --box-shadow: 0 0 0 4px #fff, 2px 2px 8px var(--shadow-color);
}
